# app
/man
/.build
/backups

# ansible
*.retry

# opentofu
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
.tofurc
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc
tofu.rc
