{
  "Version": "2012-10-17",
  "Id": "S3Policy",
  "Statement": [
    {
      "Sid": "BucketAllow",
      "Effect": "Allow",
      "Principal": {
        "AWS": [
          "arn:aws:iam:::user/s3"
        ]
      },
      "Action": [
        "s3:*"
      ],
      "Resource": [
        "arn:aws:s3:::<% $BUCKET_NAME %>",
        "arn:aws:s3:::<% $BUCKET_NAME %>/*"
      ]
    }
  ]
}
