/.build
*.box
*.iso
*.iso.gz
*.key
*.local
*.log
*.ova
*.ovf
*.pem
*.swo
*.swp
*.tar.gz
*.temp
*.tmp
*.vagrant
*.vdi
*.vmdk
*.vmx
*.zip
*~
.DS_Store
.build/
.env
.vagrant/
build.log
dist/
downloads/
id_rsa*
output-*/
output-qemu/
output-virtualbox-iso/
output-vmware-iso/
packer.log
packer_cache/
pfSense-*.iso*

# node
**/.vitepress/cache
**/.vitepress/dist
*.lcov
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.cache
.cache/
.eslintcache
.next
.node_repl_history
.npm
.nyc_output
.parcel-cache
.pnp.*
.vite/
.vscode-test
.yarn-integrity
.yarn/*
coverage
dist
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
